 /* Add your additional styles here */
 *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Verdana;
 }

 body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(209,227,247,1) 100%);
    
}

/* Header styles */
#header {
    background: rgb(73,20,85);
    background: linear-gradient(90deg, rgba(73,20,85,1) 0%, rgba(31,0,32,1) 100%);
    color: #ffffff;
    padding: 20px 0;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content:space-between;
  
    align-items: center;
}

.logo {
    max-width: 20px;
}

#sidemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(73,20,85);
    background: linear-gradient(90deg, rgba(73,20,85,1) 0%, rgba(31,0,32,1) 100%);
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    transition: 0.5s;
}

#sidemenu li {
    padding: 15px;
}

#sidemenu a {
    text-decoration: none;
    color: #ffffff;
}

.fa-bars {
    color: rgb(191, 5, 238);
    font-size: 24px;
    cursor: pointer;
}
.fa-user {
    color: rgb(191, 5, 238);
    font-size: 24px;
    cursor: pointer;
}

.fa-arrow-up-right-from-square{
    color: rgb(191, 5, 238);
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

/* Header text styles */
.header-text {
    text-align: center;
    margin-top: 50px;
}

.header-text p {
    font-size: 18px;
    margin-bottom: 10px;
}

.header-text h1 {
    font-size: 36px;
    margin: 0;
}

.header-text span {
    color: rgb(191, 5, 238);
}

/* About section styles */
#about {
    padding: 50px 0;
}

.about-col-1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-col-2 {
    padding-left: 50px;
}

.sub-title {
    color: rgb(191, 5, 238);
    font-size: 28px;
    margin-bottom: 20px;
}




.tab-titles {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 20px;
}

.tab-links {
    cursor: pointer;
  
    transition: background-color 0.3s ease;
}

.tab-contents {
    display: none;
    padding: 20px;
}

.active-link {
    font-weight: bold;
  color: rgb(155, 5, 192);
   color: linear-gradient(90deg, rgba(93,3,115,1) 0%, rgba(222,4,228,1) 90%);
}

.active-tab {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}




@media (min-width: 968px) {
    .container {
        max-width: 900px;
        /* margin: 20px; */
    }
}




/* Services section styles */








/* Portfolio section styles */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.work img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.layer h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.layer p {
    font-size: 16px;
    margin-bottom: 20px;
}

.layer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.layer i {
    margin-left: 5px;
}

/* Contact section styles */
#contact {
    background: rgb(73,20,85);
    background: linear-gradient(90deg, rgba(73,20,85,1) 0%, rgba(31,0,32,1) 100%);
    color: #ffffff;
    padding: 50px 0;
}

.contact-left, .contact-right {
    width: 50%;
    padding: 0 20px;
}

.contact-left h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-left p, .contact-left .btn2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-left .social-icon {
    margin-top: 20px;
}

.contact-left .fa-brands {
    font-size: 24px;
    margin-right: 20px;
    color: #ffffff;
}

.contact-right input, .contact-right textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: rgb(216, 118, 238);
    background: linear-gradient(90deg, rgba(73,20,85,1) 0%, rgba(31,0,32,1) 100%);
    color: #ffffff;
}

.contact-right button {
    background-color: rgb(247, 5, 247);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}

/* Copyright section styles */
.copyright {
    background: rgb(33,1,41);
    background: linear-gradient(90deg, rgba(33,1,41,1) 0%, rgba(82,1,85,1) 100%);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.copyright p {
    margin: 0;
    font-size: 14px;
}






.card {
    background: rgb(241, 231, 235);
    background: radial-gradient(circle, rgb(245, 197, 217) 0%, rgb(243, 245, 247) 100%);
    box-shadow: 0 0 6px rgba(138, 2, 138, 0.8);

    
 
    transition: transform 0.3s;
    
}

.card:hover {
    border-bottom: 4px solid #ff0af3;
    transform: scale(1.05);
    
}

.btn-primary {
    background: rgb(224,6,226);
    background: linear-gradient(90deg, rgba(224,6,226,1) 0%, rgba(122,5,167,1) 72%);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.btn-primary:hover {
    background: rgb(93,3,115);
background: linear-gradient(90deg, rgba(93,3,115,1) 0%, rgba(222,4,228,1) 90%);
}










       

      